* {
	margin: 0;
	padding: 0;	
}

	/* Main font */
@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url(fonts/AtkinsonHyperlegible-Regular.ttf);
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url(fonts/AtkinsonHyperlegible-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url(fonts/AtkinsonHyperlegible-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
	
/* secondary font */

@font-face {
  font-family: 'Montserrat';
  src: url(montserratregular.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(montserratbold.ttf);
  font-weight: bold;
}

:root {
	--screen_width: 100vw;
	--screen_height: 100vh;
	


	/* pallette */
	
	--main_color_lightest: #fffdff;
	--main_color_lighter: #d6d8e5;
	--main_color: #757da2;
	--main_color_darker: #2d3043;
	--main_color_darkest: #000016;

	/*secondary colors should compliment the main color*/
	--secondary_color: "";

	/* desktop colors */ 

	--chat_bg: linear-gradient(#19092A, #162B3E);
	--displayer-bg: #1E708E;

	--taskbar_bg: var(--main_color_darker);
	--taskbar_seperator: var(--main_color); 
}

.hide {
	opacity: 0;
}
.show {
	opacity: 1;
	transition: opacity;
	animation: alert 10s forwards;
}

.desktop {
	width: 100vw;
	height: 100vh;
}

.chat {
	/* add this through other means */
	width: 350px;
	height: 470px;
	border-radius: 5%;
	z-index: 2;

	position: absolute;
	left: 82%;
	top: 4%;

	background: var(--chat_bg);
	display: flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: reverse;
  	flex-direction: column-reverse;

	/*chat msg disappears after filling enough*/
	overflow-y: hidden;
}

.chat ul {
	list-style-type: none;
 	list-style-position: outside;
}

.chat ul li {
	background-color: rgba(18, 22, 59, 0.8);
  	padding: 15px 5px;
  	margin-top: 5px;
}

.chat ul li .chat-border {
	color: #c1d9f2;
	border-left: 5px solid;
	border-radius: 5px 0px 0px 5px;
	padding-left: 10px;	
	margin-left: 10px;
}

.chat ul li .user-data-line {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat ul li .user-data-line .profile {
	width: 45px;
	height: 45px;

  image-rendering: optimizeQuality;
  display: inline-block;
  margin-right: 10px;
  pointer-events: none;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #c1d9f2;
}

.chat ul li .user-data-line .username {
	font-family: 'Atkinson-Hyperlegible',"VT323", Fallback, monospace;	
	display: inline-block;
	font-size: 23px;
	color: #c1d9f2;
	margin-left: 5px;
}

.chat ul li .user-data-line .badges .badge {
  margin-left: 2px;
  margin-right: 2px;
  width: 24;
  max-width: 76px;
  pointer-events: none;
}

.chat ul li .message {
	word-wrap: break-word;
	font-size: 21px;
	font-family: 'Atkinson-Hyperlegible',"VT323", Fallback, monospace;	
	color: #c1d9f2;
}

.chat ul li .emote {
	width: 28px;
	display: inline-block;
}

.chat ul li .emote-only {
	width: 64px;
	display: inline-block;
	image-rendering: pixelated;
}

.chat ul li .message a {
	color: #0077ff;
	text-decoration: none;
}

.chat ul li:nth-child(odd) {
	background-color: rgba(33, 39, 95, 0.8);
}

.chat ul li:last-of-type {
	 -webkit-animation-name: slide-in-left;
          animation-name: slide-in-left;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.clock {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#time {
	font-size: 28px;
	color: white;
}

.label { 
	height: 50px;
	width: 245px;	
	
	/*
	background-color: darkblue;
	*/

	position: absolute;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-flex;    
	align-items: center;
	justify-content: center;	
}

.label p {
	color: white;	
  	font-family: 'Montserrat';
	font-size: 18px;
}

#follow {
	left: 775px;
	top: 1010px;
}

#sub {
	left: 1110px;
	top: 1010px;
}

#music {
	left: 440px;
	top: 1010px;
}

#music p, #follow p, #sub p {
	margin: auto;
	text-align: center;

    display: flex;        
    flex-basis: 100%;
    animation: marquee 18s ease-in-out infinite;
    animation-play-state: running;
}

/* hide music player outside of view*/
#music audio {
	opacity: 0%;
	position: absolute;
	top: 10px;
}

#music audio:hover { opacity: 50%; }

	/* marquee CSS, used for longer text that needs to loop*/
.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-flex;    
}

.marquee span {
    display: flex;        
    flex-basis: 100%;
    animation: marquee 5s linear infinite;
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate(0%, 0);
    }    
    50% {
        transform: translate(-100%, 0);
    }
    50.001% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@keyframes marquee-reset {
    0% {
        transform: translate(0%, 0);
    }  
}

	/*turn overlay chat only*/
@media screen and (max-width: 700px) {
	.chat { 
		width: 100vw;
		height: 100vh;
	}
	.display {
		display: none;
	}
	.taskbar {
		display: none;
	}
}
	
/*hide chat unhide chat css*/
.chat-hide {
    transform: translateX(-100%);

	/* lets displayer take up full width*/
	transition: linear 2s;
	width: 0;
}
.chat-show {
    transform: translateX(0px);
	transition: transform 2s;
	transition: width 2s;
}

/* animation that plays when clearing chat*/
.chat-clear {
	transition: ease 4s;
	transform-origin: top;
	/*it doesn't scroll all the way of screen unless this*/
	transform: translateY(125%);
}
.chat-clear p, .chat-clear img {
	opacity: 0;
	transition: opacity 2s;
}

/* tell displayer to fill newly given space when chat is hidden*/
.display-fill {
	transition-duration: 1s;
	transition: width;
	width: 100%;
}

/* content displayer that comes down */
.display div {
	height: 980px;
	width: 1600px;

	z-index: 1;
	position: absolute;
	left: 0.5%;
	top: 1%;

	display: flex;
	justify-content: center;
	background: var(--displayer-bg);
	
	transform: translateY(-100%);
	transition: ease 4s;

}

#displayer-inner {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* make sure to make rounding similar to overlay pngs rounding */
#displayer-inner iframe {
	width: 95%;
	height: 95%;
	border-radius: 15px;
}

.display .disp-show {
	transform: translateY(0);
	transform-origin: top;
}

.display .disp-clear {
	transform: translateY(-100%);
	transform-origin: bottom;
}

#alert {
	z-index: 2;
	position: absolute;
	left: 580px;
	top: 150px;

	width: 450px;
	height: 300px;
}

#alert img {
	margin: auto;
	display: flex;
	width: 50%;

}

#alert p {
	color: white;
	background: gray;

	font-weight: bold;
	font-size: 35px;
}

@keyframes alert {
	0% {
		transition: opacity 200ms;
		opacity: 0;
	}
	20% {
		transition: opacity 800ms;
		opacity: 1;
	}
	100% {
		transition: opacity 200ms;
		opacity: 0;
	}
}
